
body{
    background-color: #202959;
    max-width: 450px;
    margin: auto;
}

h1, p{
    color: #DDFFE5;
    font-family: 'Archivo', sans-serif ;
}

h3{
    color: #DDFFE5;
    font-family: 'Archivo', sans-serif ;
}

p{font-family: 'Archivo', sans-serif;
color: white;
}



.chart{
    width: 330px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}
