 .projectButton {
            display: inline-flex;
            height: 50px;
            padding: 0;
            background: #898C99;
            border: none;
            outline: none;
            border-radius: 5px;
            overflow: hidden;
            font-family: 'Archivo', sans-serif;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
        }
        
         .projectButton:hover {
            background: #AAAEBF
        }

        .projectButton:active {
            background: #6B86F9
        }
        
        .projectButton__text,
        .projectButton__icon{
            display: inline-flex;
            align-items: center;
            padding: 0 24px;
            color: black;
            height: 100%;
        }

        .projectButton__icon {
            font-size:1.5em;
            background: rgba(0,0,0,0.08);
        }
